{
  "plugins": [ 
    ["@semantic-release/commit-analyzer", {   
      "preset": "angular",
      "releaseRules": [
        {"subject":"Merge","release":"minor"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm"
  ]
}
