{
  "plugins": [ 
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"message":"Merge","release":"patch"}
      ],
      "parserOpts": {
        "noteKeywords": [
          "Merge"
        ]
      }
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm"
  ]
}
