{
  "plugins": [ 
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
       "parserOpts": {
          "mergePattern": "Merge pull request (.*)"
        }
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm"
  ]
}
